{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Welcome {{user.username}}!
<p><a href="{% url 'password_change' %}">change password</a></p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
<button type="submit">log-out</button>
</form>
{%else%}
<p>you are not logged in,plese login</p>
<p><a href="{% url 'password_reset' %}">reset password</a></p>
<a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}